name: Test_nslookup

on:
#  schedule:
#    - cron: '15 * * * *'
#    - cron: '35 * * * *'
#    - cron: '55 * * * *'
  repository_dispatch:
    types:
      - letaction
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install requirements
        run: |
          find /usr/lib/ -name EXTERNALLY-MANAGED -exec sudo rm {} \;
          nslookup www.google.com 223.5.5.5
        
          
