name: Test_nslookup

on:
#  schedule:
#    - cron: '15 * * * *'
#    - cron: '35 * * * *'
#    - cron: '55 * * * *'
  repository_dispatch:
    types:
      - letaction
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install requirements
        run: |
          wget -O t1.txt https://raw.githubusercontent.com/hzcsure/hzcsure/refs/heads/main/example.txt
          cat t1.txt
          rm t1.txt example.txt.1
          nslookup www.google.com 223.5.5.5
        
          
