name: Test_nslookup

on:
#  schedule:
#    - cron: '15 * * * *'
#    - cron: '35 * * * *'
#    - cron: '55 * * * *'
  repository_dispatch:
    types:
      - letaction
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install requirements
        run: |
          #wget -O t1.txt https://raw.githubusercontent.com/Pawdroid/Free-servers/main/sub
          #cat t1.txt | base64 -d 2>/dev/null >tt.txt
          wget -O tt.txt https://raw.githubusercontent.com/miladtahanian/V2RayCFGDumper/refs/heads/main/config.txt
          # 定义匹配合法IPv4地址的正则表达式（覆盖0.0.0.0~255.255.255.255范围）
          IP_REGEX='((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)'
          while IFS= read -r line; do
          (
              
              #echo "$line"
              node_type=$(echo "$line"|cut -d ":" -f1)
              #echo $node_type
              case $node_type in
                  "trojan")
                      echo 1
                      a_ip=$(echo "$line"|cut -d "@" -f2|cut -d ":" -f1)
                      echo $a_ip
                      if [ -n "$a_ip" ]; then
                          nslookup -timeout=2 -retry=0 www.google.com $a_ip >/dev/null 2>&1 && echo "$line" >> t2.txt
                      fi
                      ;;
                  "vmessxxxx")
                      
                      b_ip=$(echo "$line" | sed 's/^vmess:\/\///' | base64 -d | jq -r '.add')
                      echo $b_ip
                      if [ -n "$b_ip" ]; then
                          nslookup -timeout=2 -retry=0 www.google.com $b_ip >/dev/null 2>&1 && echo "$line" >> t2.txt
                      fi
                      ;;
                  "vlesxxxxs")
                      c_ip=$(echo "$line" | cut -d "@" -f2|cut -d ":" -f1)
                      echo $c_ip
                      if [ -n "$c_ip" ]; then
                          nslookup -timeout=2 -retry=0 www.google.com $c_ip
                          nslookup -timeout=2 -retry=0 www.google.com $c_ip >/dev/null 2>&1 && echo "$line" >> t2.txt
                      fi
                      ;;
                  *)
                     
                      ;;
              esac
          ) &
          done < tt.txt
          wait
          if [ -f ./t2.txt ]; then
              cat ./t2.txt
          fi
          #rm t1.txt
          #nslookup www.google.com 223.5.5.5
        
          
